training-app-web/src/main/webapp/wsdl/UserApplicationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://web.app.training.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://web.app.training.org" xmlns:intf="http://web.app.training.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://web.app.training.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="process">
    <complexType>
     <sequence>
      <element name="userRequest" type="impl:UserRequest"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="UserRequest">
    <sequence>
     <element name="firstName" nillable="true" type="xsd:string"/>
     <element name="jmbg" nillable="true" type="xsd:string"/>
     <element name="lastName" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="processResponse">
    <complexType>
     <sequence>
      <element name="processReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="processResponse">

      <wsdl:part element="impl:processResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="processRequest">

      <wsdl:part element="impl:process" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="UserApplicationService">

      <wsdl:operation name="process">

         <wsdl:input message="impl:processRequest" name="processRequest">

       </wsdl:input>

         <wsdl:output message="impl:processResponse" name="processResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UserApplicationServiceSoapBinding" type="impl:UserApplicationService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="process">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="processRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="processResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UserApplicationServiceService">

      <wsdl:port binding="impl:UserApplicationServiceSoapBinding" name="UserApplicationService">

         <wsdlsoap:address location="http://localhost:8021/training-app-web/services/UserApplicationService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
